
body{
  
  background-image: url('pinkclouds.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}



.topnav{
   background-color:darkmagenta;
   overflow:hidden;
   text-align:right;
   
   
}

.image{
  height:100px; 
  margin:10px 10px;
  float: left;
  padding: 80px;

  
}

.topnav a{
    float: right;
    color:coral;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:bisque;
    color:brown;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:transparent ;
    color:coral;
  }

  .h2 {padding-right: 100px;
    color:maroon;
    border-style:groove;
    font-family: 'Allerta', sans-serif;
    text-align:center;
  }

  .homepage{
    color:maroon;
    font-family: 'Gentium Plus', serif;
    
    
  }

  .title{
    color:blue;
    font-family: 'Allerta', sans-serif;
  }

  .submit{
    background-color: crimson;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 
.heading{
  color:crimson;
  text-align:center;
  text-decoration: underline;
}

.image{
  height:250px; 
  padding-top:100px;
  }
  