body{
    background-color:black;
    margin: 20px;
    padding: 20px;
    background: #1C6EA4;
background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 37%, #144E75 100%);
background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 37%, #144E75 100%);
background: linear-gradient(to right, #1C6EA4 0%, #2388CB 37%, #144E75 100%);
}

